<!DOCTYPE html>
<html>
<head>
 <title>About</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<style>
h5{
text-color:yellow;
}
body{
background-color:red;
}

</style>
</head>
<body>
<center></center><h1>Information-Donor's</h1></center>
<div class="container" style="background-color: blue">
	
		 <div class="card">
            <div class="card-body">
                <div class="col-md-10">
<P>

<h5><b>BASIC REQUIREMENTS</b></h5><br>
	* Be in generally good health and feeling well.<br>
	* Be at least 17 years of age; upper age 60 (420d*).<br>
	* Weigh at least 110 pounds (45 kg).<br>
	* Pulse: 80 to 100 beats/min and regular.<br>
	* Temperature: Should not exceed 99.5 (37.5c).<br>
	* Blood Pressure: acceptable range is 160/90 to 110/60.<br>

	* You must not donate if you have had a tongue, nose, belly button or genital piercing in the past 12 months (donors with pierced ears are eligible).
	Skin: the venipuncture site should be free of any lesion or scar of needle pricks indicative of addiction to narcotics or frequent Blood donation (as in the case of professional Blood donors).<br><br>

<h5><b>DONATION FREQUENCY (may vary)</b></h5><br>
	* Whole Blood donors may donate every 56 days.<br>
	* Plasma donors may donate twice a week (max. every 48 hours.)<br>
	* Platelet donors may donate a maximum of 24 times per year.<br>
	* Other specialized donations are subject to other rules. <br><br>
	
	<h5><b> MEDICAL CONDITIONS</b></h5><br>
	* Accident & Injury: can donate if otherwise healthy<br>
	* Aids: can not donate<br>
	* Allergies: can donate if there is no infection present and there is no treatment ongoing<br>
	* Anemia: defer donation until no symptoms exist<br>
	* Arthritis: can donate if mild and not on medication<br>
	* Asthma: those with severe asthma requiring regular treatment can not donate; can donate if there are no symptoms evident<br>  
	* Babesiosis: can not donate<br>
	* Blood disorders or bleeding tendencies: can not donate<br>
	* Blood Pressure: acceptable range is 160/90 to 110/60. (see medication section below for medication restrictions.)<br>
	* Brain or spinal surgery that required a transplant of brain covering (dura mater): can not donate<br>
	* Bronchitis: defer donation until four weeks or after recovery<br>
	* CJD: When a Blood relative has been diagnosed with Creutzfeldt-Jakob Disease (CJD), or there is an increased family risk of CJD; can not donate<br>
	* Cancer: Basal cell, squamous cell skin cancers and keratosis; can not donate until removed and healed. Melanoma; can not donate. Malignant tumors; can donate five years after removal of early stage contained solid tumor, no chemotherapy, and in remission<br>
	* Chicken Pox: defer donation until four weeks after recovery<br>
	* Chlamydia: like all other venereal diseases; a minimum of a one year deferral is required<br>
	* Colds, fever, flu, sore throat: can not donate until symptoms (sore throat, cough, respiratory infection, headache) are completely gone<br>
	* Cold Sore, Fever Blister, Canker Sore: can donate<br>
	* Colitis: can not donate<br>
	* Colostomy: can not donate<br>
	* Dementia: can not donate<br>
	* Dengue: defer donation until four weeks after recovery <br>
</P>
</div>
</div>
</div>
</div>


</body>
</html>