<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
<head>
 <title>Add</title>
 <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
 <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
<style>
h1{
text-color:red;
}
.card{
background-color:#B0E0E6;
}
   form{
      padding-left:300px;
   }
   #button{
      margin-left:100px;
   }
   body {
 background-image: url("/resources/image/cell.jpeg" );
 width:100vw;
 height:100vh;
 
 background-repeat:no-repeat;
 background-size:100% 100%;
 position:relative;
 }
   
  
</style>
</head>
<body>
<div class="container">
	
		 <div class="card">
            <div class="card-body">
                <div class="col-md-10">
		 <form action="#" th:action="@{/bloods/add}" th:object="${blood}" method="post">
		 	 <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
              <b>   <h1>Blood Register</h1></b>
                 <hr>
             </div>
         </div>
          <div class="row">
             <div class="col-md-3 field-label-responsive">
             
             <b><label for="name"><h5>Name</h5> </label>:</b>
            
                 
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                         
                     	<input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>


           <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <b><label for="name"><h5>Age</h5></label>:</b>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     	<input type="text" th:field="*{age}" class="form-control" id="age" placeholder="age" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>


           <div class="row">
             <div class="col-md-3 field-label-responsive">
                <b> <label for="name"><h5>DOB</h5></label>:</b>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     	<input type="text" th:field="*{DOB}" class="form-control" id="DOB" placeholder="DOB" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>


           <div class="row">
             <div class="col-md-3 field-label-responsive">
               <b>  <label for="name"><h5>BloodGroup</h5></label>:</b>  
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     	 <input type="text" th:field="*{bloodgroup}" class="form-control" id="bloodgroup" placeholder="bloodgroup" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>


           <div class="row">
             <div class="col-md-3 field-label-responsive">
                <b> <label for="name"><h5>Phoneno</h5></label>:</b>     
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     	<input type="text" th:field="*{phoneno}" class="form-control" id="phoneno" placeholder="phoneno" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>


           <div class="row">
             <div class="col-md-3 field-label-responsive">
                 <b><label for="name"><h5>Location</h5></label>:</b>
             </div>
             <div class="col-md-6">
                 <div class="form-group">
                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                     	<input type="text" th:field="*{location}" class="form-control" id="location" placeholder="location" required autofocus> 
                     </div>
                 </div>
             </div>
         </div>
          <div class="row">
             <div class="col-md-3"></div>
             <div class="col-md-6">
                 <button type="submit" id="button"  class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
             </div>
         </div>
     </form>
         </div>
    
 </div>
</div>
</div>


</body>

</html>
